{% extends 'base.html' %}
{% block content %}
{% for message in get_flashed_messages() %}
    <span> {{ message }} </span>
{% endfor %}

<div>Title: {{ movie.movie_title }}</div>
<div>Released at: {{ movie.released_at}}</div>
<div> {{ number_of_ratings}} user(s) have rated this movie an average of {{ average_score}}/5.</div>
<div><a href="{{ movie.imdb_url }}">IMDB</a></div>

<form action="/NO.json" id="update_rating">
<label>Add or update your rating: <input type="number" id="user_rating" name="rating" min="1" max="5" required></label>
<button id="submit">Submit</button>
</form>

<a href="/">GO HOME</a>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
    console.log("hello hello")
    function updateRating(evt){
        evt.preventDefault();
        var user_rating = $('#user_rating').val();
        $.post('/update_rating.json', user_rating, function(){
                                                    alert("You rated it!");
                                                    $('#submit').prop('disabled',true);
                                                    });
    }

    $('#submit').on('click', updateRating);

</script>


{% endblock %}